.header {
  position: absolute;
  display: flex;
  z-index: 1;
  top: 0;
  color: #000;
  padding: 35px;
  justify-content: space-between;
  width: 100%;
  font-weight: 300;
  box-sizing: border-box;
  align-items: center;

  .on {
    & + div {
      //background: #000 !important;
      transform: scale(1) !important;
    }
  }

  .logo {
    display: flex;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #222;
    p {
      margin: 0px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    .name {
      display: flex;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 5px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      p {
        position: relative;
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        &:nth-of-type(2) {
          padding-left: 3px;
        }
        &:nth-of-type(3) {
          position: absolute;
          left: 119px;
          padding-left: 0.3em;
        }
      }
    }
    &:hover {
      .copyright {
        transform: rotate(360deg);
      }
      .name {
        padding-right: 30px;
        .codeBy {
          transform: translateX(-100%);
        }
        .dennis {
          transform: translateX(-77px);
        }
        .snellenberg {
          transform: translateX(-76px);
        }
      }
    }
  }
  .nav {
    display: flex;
    align-items: center;

    .el {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
      padding: 15px;
      cursor: pointer;
      &:hover {
        .indicator {
          transform: scale(1);
        }
      }
      .indicator {
        position: absolute;
        width: 5px;
        height: 5px;
        top: 45px;
        left: 50%;
        background-color: #000;
        border-radius: 50%;
        transform: scale(0) translateX(-50%);
        transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
      }
    }
    a {
      font-weight: 700;
      font-size: 19px;
    }

    @media (width < 768px) {
      display: none;
    }
  }

  @media (width > 1000px) {
    padding: 50px 8vw;
  }
}
.headerButtonContainer {
  transform: scale(0);
  position: fixed;
  right: 0px;
  z-index: 11000;

  .button {
    position: relative;
    margin: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1c1d20;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;

    &:hover {
      //background: #f5df4e;
      .burger {
        &::before,
        &::after {
          background: #000;
        }
      }
    }
  }

  .burger {
    width: 100%;
    position: relative;
    z-index: 1;
    &::after,
    &::before {
      content: '';
      display: block;
      height: 2px;
      width: 40%;
      margin: auto;
      background-color: white;
      position: relative;
      transition: transform 0.3s;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }

  @media (width < 768px) {
    transform: scale(1) !important;

    .button {
      width: 60px;
      height: 60px;
    }
  }
}
