.loading_container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loading {
  position: relative;
  top: 100%;
  width: 100%;
  height: 100%;
  background: #141517;
}

.loading .top {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 0vh;
  transform: translateY(-99%) scale(1, -1);
  background: #141517;
}

.loading .bottom {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 0vh;
  transform: translateY(-99%) scale(1, -1);
  background: #141517;
  transform: translateY(99%);
}

.page_title {
  display: flex;
  position: relative;
  z-index: 10;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 50px;
}

.page_title h2 {
  opacity: 0;
  transform: translateY(250px);
}

.loading .top .round_div {
  transform: translate(-50%, -70%);
}

.loading .bottom .round_div {
  transform: translate(-50%, -70%);
}

.round_div {
  width: 150%;
  content: "";
  display: block;
  position: absolute;
  background: #141517;
  height: 750%;
  left: 50%;
  border-radius: 50%;

  z-index: 1;
}
