//@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  //font-family: 'Karla', sans-serif;
  //font-family: 'Archivo', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
  word-break: keep-all;
  color: #222;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
}

#__next-build-watcher {
  display: none;
}

.scroll-none {
  overflow: hidden;
}

.main_hidden {
  &::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background: #141516;
  }
}

.footer {
  padding: 15px;
  background: #141516;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
