* {
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
}

.svghand {
  /* position: absolute; */

  left: 100px;
  top: 50%;
}

.main-container {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 0;
}

header {
  border-bottom: 1px solid #ddd;
}

header ul {
  display: flex;
  margin: 0;
  text-align: left;
}

header li {
  list-style: none;
  margin-right: 10px;
}

footer {
  /* margin-top: auto; */
  border-top: 1px solid #ddd;
}

#__next {
}

.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: #141516;

  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
    path {
      fill: #141516;
    }
  }
}

/* .introduction2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: #141516;
} */


p {
  display: flex;
  color: white;
  font-size: 42px;
  align-items: center;
  position: absolute;
  z-index: 1;
  span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.loading-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // z-index: 1000;
}

.loading {
  position: relative;
  top: 100%;
  width: 100%;
  height: 100%;
  background: #141517;
}

.loading .top {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 0vh;
  transform: translateY(-99%) scale(1, -1);
  background: #141517;
}

.loading .bottom {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 0vh;
  transform: translateY(-99%) scale(1, -1);
  background: #141517;
  transform: translateY(99%);
}

.page-title {
  display: flex;
  position: relative;
  z-index: 10;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 50px;
}

.page-title h2 {
  opacity: 0;
  transform: translateY(250px);
}

.loading .top .round-div {
  transform: translate(-50%, -70%);
}

.loading .bottom .round-div {
  transform: translate(-50%, -70%);
}

.round-div {
  width: 150%;
  content: "";
  display: block;
  position: absolute;
  background: #141517;
  height: 750%;
  left: 50%;
  border-radius: 50%;

  z-index: 1;
}

#__next-build-watcher {
  display: none;
}

.scroll-none{
  overflow: hidden;
}