//@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

::selection {
  color: #000;
  background: #f5df4e;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  //font-family: 'Karla', sans-serif;
  //font-family: 'Archivo', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
  word-break: keep-all;
  color: #222;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  border: 0;
  font-size: 17px;
  color: #636466;
}

textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  font-size: 17px;
  font-family: inherit;
  color: #636466;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  font-weight: 500;
  font-size: 17px;
  color: #636466;
}

input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  text-fill-color: #000;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #181924 inset;
  -webkit-text-fill-color: white;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

#__next-build-watcher {
  display: none;
}

.scroll-none {
  overflow: hidden;
}

.main_hidden {
  &::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background: #141516;
  }
}

.footer {
  padding: 15px;
  background: #1c1d20;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.highlight {
  background: linear-gradient(to top, #f5df4e 40%, transparent 40%);
}

.chakra-container {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.chakra-form-control {
  display: grid;
  grid-template-columns: 45px 1fr;
  padding: 26px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  .l {
    //flex: none;
    padding: 0 20px 0 10px;
    color: #fff;
  }

  .r {
    //flex: 1;

    & + div {
      grid-column: 1 / -1;
      margin-top: 5px;
      padding-left: 45px;
      font-weight: 500;
      color: #f5df4e;
    }
  }

  .chakra-form__label {
    margin-bottom: 17px;
    line-height: 1;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
  }
  .chakra-input {
    width: 100%;
    height: 40px;
    background: transparent;
  }
  .chakra-input[aria-invalid='true'],
  .chakra-textarea[aria-invalid='true'] {
    border: 2px solid #f5df4e;
    border-radius: 5px;
  }

  textarea {
    height: 200px;
    background: transparent;
  }

  @media (width > 768px) {
    padding: 40px 0;
  }
}

.curve {
  > svg,
  .background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
    z-index: 20000;
  }
  .background {
    background-color: #000;
    transition: opacity 0s linear 0.1s;
  }
  .route {
    position: fixed;
    left: 50%;
    top: 40%;
    color: white;
    font-size: 60px;
    z-index: 21000;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 500;
  }
  @media (width < 768px) {
    .route {
      font-size: 40px;
    }
  }
}

.material-symbols-outlined {
  display: inline-block;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 9.111111vw;
  // color: #f5df4e;
}

.moon-bg,
.sun {
  //color: #dbc00f;
}

.gnb_on {
  & + div {
    //background: #000 !important;
    transform: scale(1) !important;
  }
}

.drawing_svg1 {
  position: absolute;
  right: 60px;
  top: 40px;
  fill: none;
  stroke: #333;
  stroke-miterlimit: 10;
  stroke-width: 2;
  enable-background: new 0 0 612 792;
}

/***************************************************
 * Generated by SVG Artista on 3/13/2024, 4:06:45 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

.drawing_svg1 .svg-elem-1 {
  stroke-dashoffset: 1805.1728515625px;
  stroke-dasharray: 1805.1728515625px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.drawing_svg1.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

.drawing_svg1 .svg-elem-2 {
  stroke-dashoffset: 136.6155548095703px;
  stroke-dasharray: 136.6155548095703px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

.drawing_svg1.active .svg-elem-2 {
  stroke-dashoffset: 0;
}
