* {
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
}

footer {
  /* margin-top: auto; */
  border-top: 1px solid #ddd;
}

#__next-build-watcher {
  display: none;
}

.scroll-none {
  overflow: hidden;
}
