//@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

::selection {
  color: #000;
  background: #f5df4e;
}

html {
  -webkit-text-size-adjust: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  -webkit-overflow-scrolling: touch;
  //overflow: hidden;
  //font-family: 'Karla', sans-serif;
  //font-family: 'Archivo', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
  //word-break: keep-all;
  color: #222;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  border: 0;
  font-size: 17px;
  color: #636466;
}

textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  font-size: 17px;
  font-family: inherit;
  color: #636466;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  font-weight: 500;
  font-size: 17px;
  color: #636466;
}

input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  text-fill-color: #000;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #181924 inset;
  -webkit-text-fill-color: white;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

#__next-build-watcher {
  display: none;
}

.scroll-none {
  overflow: hidden;
}

.main_hidden {
  &::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background: #141516;
  }
}

.footer {
  padding: 15px;
  background: #1c1d20;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.highlight {
  background: linear-gradient(to top, #f5df4e 40%, transparent 40%);
}

.chakra-container {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.chakra-form-control {
  display: grid;
  grid-template-columns: 45px 1fr;
  padding: 26px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  .l {
    //flex: none;
    padding: 0 20px 0 10px;
    color: #fff;
  }

  .r {
    //flex: 1;

    & + div {
      grid-column: 1 / -1;
      margin-top: 5px;
      padding-left: 45px;
      font-weight: 500;
      color: #f5df4e;
    }
  }

  .chakra-form__label {
    margin-bottom: 17px;
    line-height: 1;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
  }
  .chakra-input {
    width: 100%;
    height: 40px;
    background: transparent;
  }
  .chakra-input[aria-invalid='true'],
  .chakra-textarea[aria-invalid='true'] {
    border: 2px solid #f5df4e;
    border-radius: 5px;
  }

  textarea {
    height: 200px;
    background: transparent;
  }

  @media (width > 768px) {
    padding: 40px 0;
  }
}

.curve {
  > svg,
  .background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
    z-index: 20000;
  }
  .background {
    background-color: #000;
    transition: opacity 0s linear 0.1s;
  }
  .route {
    position: fixed;
    left: 50%;
    top: 40%;
    color: white;
    font-size: 60px;
    z-index: 21000;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Archivo';
    font-weight: 300;
  }
  @media (width < 768px) {
    .route {
      font-size: 40px;
    }
  }
}

.material-symbols-outlined {
  display: inline-block;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 9.111111vw;
  color: #edd116;
}

.moon-bg,
.sun {
  //color: #dbc00f;
}

.gnb_on {
  & + div {
    //background: #000 !important;
    transform: scale(1) !important;
  }
}

.drawing_svg1 {
  position: absolute;
  right: 60px;
  top: -75px;
  fill: none;
  stroke: #333;
  stroke-miterlimit: 10;
  stroke-width: 1;
  enable-background: new 0 0 341 165;
  //animation: move 3s infinite;
}

.drawing_svg1_1 {
  position: absolute;
  right: 110px;
  top: -82px;
  fill: none;
  stroke: #333;
  stroke-miterlimit: 10;
  stroke-width: 1;
  enable-background: new 0 0 65 50;
  animation: move 3s infinite;
}

.drawing_svg1_2 {
  position: absolute;
  right: 20vw;
  top: -17px;
  fill: none;
  stroke: #333;
  stroke-miterlimit: 10;
  enable-background: new 0 0 200 80;
  //transform: rotate(-4deg);
  animation: move 3s infinite;
  animation-delay: 2s;
}

.drawing_svg_career {
  position: absolute;
  right: 60px;
  top: -60px;
  fill: none;
  stroke: #333;
  stroke-miterlimit: 10;
  stroke-width: 1;
  enable-background: new 0 0 612 792;
  //animation: move 3s infinite;
  enable-background: new 0 0 360 230;

  .st0 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
  }
  .st1 {
    fill: #010101;
  }
  .st2 {
    //font-family: 'MyriadPro-Regular';
  }
  .st3 {
    font-size: 21px;
  }

  text {
    transition: 1.5s ease;
    opacity: 0;
    transform: translate(70%, -50%);
    //animation: move 3s infinite;
  }

  &.active text {
    opacity: 1;
    transform: translate(70%, 40%);
  }
}

.drawing_svg2 {
  position: absolute;
  right: 60px;
  top: -60px;
  fill: none;
  stroke: #333;
  stroke-miterlimit: 10;
  stroke-width: 1;
  enable-background: new 0 0 612 792;
  animation: move 3s infinite;
}

.drawing_svg2_1 {
  position: absolute;
  right: 0;
  top: -110px;
  enable-background: new 0 0 45 30;
  animation: animateCloud 8s infinite;
  opacity: 0;
  transition: 3s ease;

  .st0 {
    fill: #010101;
  }

  &.active {
    opacity: 1;
  }
}

.drawing_svg2_2 {
  position: absolute;
  right: 90px;
  top: -80px;
  enable-background: new 0 0 45 30;
  animation: animateCloud 8s infinite;
  animation-delay: 2s;
  opacity: 0;
  transition: 3s ease;

  .st0 {
    fill: #010101;
  }

  &.active {
    opacity: 1;
  }
}

.drawing_svg3 {
  position: absolute;
  right: 60px;
  top: -80px;
  fill: none;
  stroke: #333;
  stroke-miterlimit: 10;
  stroke-width: 1;
  enable-background: new 0 0 322 156;

  .st0 {
    fill: #ffffff;
  }

  .st1 {
    fill: none;
    stroke: #010101;
    stroke-miterlimit: 2.6131;
  }
}

.drawing_svg3_1 {
  position: absolute;
  right: 130px;
  top: -50px;
  enable-background: new 0 0 115.28 122.88;
  animation: move 3s infinite;
  transition: 3s ease;
  animation-delay: 4s;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
}

.drawing_svg3_2 {
  position: absolute;
  right: 310px;
  top: -20px;
  enable-background: new 0 0 115.28 122.88;
  animation: move 3s infinite;
  transition: 3s ease;
  animation-delay: 5s;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
}

.drawing_svg3_3 {
  position: absolute;
  right: 216px;
  top: -127px;
  enable-background: new 0 0 115.28 122.88;
  animation: move 3s infinite;
  transition: 3s ease;
  animation-delay: 6s;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-17px);
  }
}

@keyframes animateCloud {
  0% {
    //margin-left: -1000px;
    transform: translateX(0);
  }
  50% {
    //margin-left: 100%;
    transform: translateX(-50px);
  }
}

.drawing_svg1 .svg-elem-1 {
  stroke-dashoffset: 1079.6419677734375px;
  stroke-dasharray: 1079.6419677734375px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.drawing_svg1.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

.drawing_svg1 .svg-elem-2 {
  stroke-dashoffset: 316.45404052734375px;
  stroke-dasharray: 316.45404052734375px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

.drawing_svg1.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

.drawing_svg1 .svg-elem-3 {
  stroke-dashoffset: 319.59954833984375px;
  stroke-dasharray: 319.59954833984375px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}

.drawing_svg1.active .svg-elem-3 {
  stroke-dashoffset: 0;
}

.drawing_svg1 .svg-elem-4 {
  stroke-dashoffset: 252.533203125px;
  stroke-dasharray: 252.533203125px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
}

.drawing_svg1.active .svg-elem-4 {
  stroke-dashoffset: 0;
}

.drawing_svg1 .svg-elem-5 {
  stroke-dashoffset: 98.5934066772461px;
  stroke-dasharray: 98.5934066772461px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
}

.drawing_svg1.active .svg-elem-5 {
  stroke-dashoffset: 0;
}

.drawing_svg1_1 .svg-elem-1 {
  stroke-dashoffset: 368.9156188964844px;
  stroke-dasharray: 368.9156188964844px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.drawing_svg1_1.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

.drawing_svg1_2 .svg-elem-1 {
  stroke-dashoffset: 552.6844482421875px;
  stroke-dasharray: 552.6844482421875px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.drawing_svg1_2.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

.drawing_svg1_2 .svg-elem-2 {
  stroke-dashoffset: 326.4457092285156px;
  stroke-dasharray: 326.4457092285156px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

.drawing_svg1_2.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

.drawing_svg_career .svg-elem-1 {
  stroke-dashoffset: 2198.6044921875px;
  stroke-dasharray: 2198.6044921875px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.drawing_svg_career.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

.drawing_svg_career .svg-elem-2 {
  stroke-dashoffset: 94.09814453125px;
  stroke-dasharray: 94.09814453125px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

.drawing_svg_career.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

.drawing_svg2 .svg-elem-1 {
  stroke-dashoffset: 1805.1728515625px;
  stroke-dasharray: 1805.1728515625px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.drawing_svg2.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

.drawing_svg2 .svg-elem-2 {
  stroke-dashoffset: 136.6155548095703px;
  stroke-dasharray: 136.6155548095703px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

.drawing_svg2.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

.drawing_svg3 .svg-elem-1 {
  stroke-dashoffset: 517.0017700195312px;
  stroke-dasharray: 517.0017700195312px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.drawing_svg3.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

.drawing_svg3 .svg-elem-2 {
  stroke-dashoffset: 635.2803955078125px;
  stroke-dasharray: 635.2803955078125px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

.drawing_svg3.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

.drawing_svg3 .svg-elem-3 {
  stroke-dashoffset: 204.4850311279297px;
  stroke-dasharray: 204.4850311279297px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}

.drawing_svg3.active .svg-elem-3 {
  stroke-dashoffset: 0;
}

.drawing_svg3 .svg-elem-4 {
  stroke-dashoffset: 573.3514404296875px;
  stroke-dasharray: 573.3514404296875px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
}

.drawing_svg3.active .svg-elem-4 {
  stroke-dashoffset: 0;
}

.drawing_svg3 .svg-elem-5 {
  stroke-dashoffset: 65.5999984741211px;
  stroke-dasharray: 65.5999984741211px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
}

.drawing_svg3.active .svg-elem-5 {
  stroke-dashoffset: 0;
}

.drawing_svg3 .svg-elem-6 {
  stroke-dashoffset: 82.99999237060547px;
  stroke-dasharray: 82.99999237060547px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}

svg.active .svg-elem-6 {
  stroke-dashoffset: 0;
}

.drawing_svg3 .svg-elem-7 {
  stroke-dashoffset: 33.49999237060547px;
  stroke-dasharray: 33.49999237060547px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
}

.drawing_svg3.active .svg-elem-7 {
  stroke-dashoffset: 0;
}

.drawing_svg3 .svg-elem-8 {
  stroke-dashoffset: 65.60000610351562px;
  stroke-dasharray: 65.60000610351562px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s;
}

svg.active .svg-elem-8 {
  stroke-dashoffset: 0;
}

.drawing_svg3 .svg-elem-9 {
  stroke-dashoffset: 74.29999542236328px;
  stroke-dasharray: 74.29999542236328px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s;
}

.drawing_svg3.active .svg-elem-9 {
  stroke-dashoffset: 0;
}

.drawing_svg3 .svg-elem-10 {
  stroke-dashoffset: 57.19999694824219px;
  stroke-dasharray: 57.19999694824219px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
}

.drawing_svg3.active .svg-elem-10 {
  stroke-dashoffset: 0;
}
