.about {
  //background: yellow;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
  padding: 8vw;
  overflow: hidden;
  @media (width > 768px) {
    padding: 6vw;
  }
}

.tit {
  opacity: 0;
  transform: translateY(50%);
  text-align: center;
  h3 {
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px 30px;
    border-radius: 30px;
    background: #f5df4e;
    line-height: 1;
    font-weight: 500;
    font-size: clamp(1.55rem, 3.3vw, 2.5rem);
  }
  p {
    font-weight: 400;
    font-size: clamp(1.55rem, 5.3vw, 2.5rem);
  }
  @media (width > 768px) {
    //font-size: 30px;
    h3 {
    }
  }
}

.txt {
  opacity: 0;
  transform: translateY(50%);
  margin-top: 40px;
  font-weight: 400;
  text-align: center;
  font-size: 27px;
  span {
    display: inline-block;
    // padding-bottom: 5px;
    // border-bottom: 3px solid #f5df4e;
    line-height: 1;
    font-weight: 600;
  }
  @media (width > 768px) {
    margin-top: 50px;
    line-height: 2;
    text-align: left;
    font-size: 30px;
  }
}

.exp {
  margin-top: 50px;
  opacity: 0;
  transform: translateY(50%);
  text-align: center;
  .expnumber {
    display: inline-block;
    line-height: 1;
    font-weight: 600;
    font-size: 100px;
    color: #4c4d4d;

    &::before {
    }
  }

  .exptxt {
    margin-top: 10px;
    line-height: 1;
    font-size: 40px;
    strong {
      font-weight: 600;
    }
  }
  @media (width > 768px) {
    .expnumber {
    }

    .exptxt {
    }
  }
}

.btm {
  opacity: 0;
  transform: translateY(50%);
  margin-top: 50px;
  @media (width > 768px) {
    margin-top: 90px;
  }
}

.moreAbout {
  display: block;
  position: relative;
  z-index: 10;
  font-weight: 500;
  font-size: 23px;
  @media (width > 768px) {
    font-size: 27px;
  }
}

.heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// Project
.projects {
  position: relative;
  z-index: 10;
  background: #f8f9fa;

  .inner {
    padding-bottom: 0;
  }

  .body {
    opacity: 0;
    transform: translateY(50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px 0 100px;
  }

  .modalContainer {
    height: 350px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    pointer-events: none;
    overflow: hidden;
    z-index: 3;
  }

  .modalSlider {
    height: 100%;
    width: 100%;
    position: relative;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal img {
    //height: auto;
    height: 11vw;
  }

  .cursor,
  .cursorLabel {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #455ce9;
    color: white;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
  }

  .cursorLabel {
    background-color: transparent;
  }
}

.project {
  width: 100%;
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 3vw 50px 3vw;
    border-top: 1px solid rgb(201, 201, 201);
    transition: all 0.2s;
  }

  h2 {
    flex: 1 1 70%;
    padding-right: 30px;
    line-height: 1.2;
    font-size: clamp(1.55rem, 5.3vw, 2.5rem);
    margin: 0px;
    font-weight: 300;
    transition: all 0.4s;
    word-break: break-all;
  }

  p {
    flex: 1;
    transition: all 0.4s;
    font-weight: 300;
  }

  &:last-of-type {
    border-bottom: 1px solid rgb(201, 201, 201);
  }

  &:hover {
    opacity: 0.5;

    h2 {
      transform: translateX(-10px);
    }

    p {
      transform: translateX(10px);
    }
  }
}

.slidingImages {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  position: relative;
  padding-top: 100px;
  background-color: #f8f9fa;
  z-index: 1;
  .slider {
    display: flex;
    position: relative;
    gap: 3vw;
    width: 120vw;
    left: -10vw;
    .project {
      width: 25%;
      height: 20vw;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .imageContainer {
        position: relative;
        width: 80%;
        height: 80%;
        img {
          object-fit: cover;
        }
      }
    }
  }
  .circleContainer {
    background-color: red;
    position: relative;
    margin-top: 5vw;
    .circle {
      height: 1550%;
      width: 120%;
      left: -10%;
      border-radius: 0 0 50% 50%;
      background-color: #f8f9fa;
      z-index: 1;
      position: absolute;
      box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
    }
  }
}

// Contact
.contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141516;
  position: relative;
  .body {
    padding: 50vw 8vw 0;
    width: 100%;
    max-width: 1700px;
    background-color: #141516;

    .title {
      position: relative;
      border-bottom: 1px solid rgb(134, 134, 134);
      padding-bottom: 160px;
      // margin-left: 200px;
      // margin-right: 200px;
      font-weight: 500;
      font-size: clamp(1.55rem, 5.3vw, 2.5rem);
      // span {
      //   display: flex;
      //   align-items: center;
      //   .imageContainer {
      //     width: 100px;
      //     height: 100px;
      //     position: relative;
      //     border-radius: 50%;
      //     overflow: hidden;

      //     img {
      //       object-fit: cover;
      //     }
      //   }
      //   h2 {
      //     margin-left: 0.3em;
      //   }
      // }
      // h2 {
      //   font-size: 5vw;
      //   margin: 0px;
      //   font-weight: 300;
      // }
      .buttonContainer {
        position: absolute;
        left: calc(100% - 400px);
        top: calc(100% - 75px);
      }
      .button {
        width: 130px;
        height: 130px;
        background-color: #f5df4e;
        color: white;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        p {
          margin: 0;
          font-size: 16px;
          font-weight: 400;
          z-index: 2;
          position: relative;
          color: #000;
        }
      }
    }

    .roundedButton {
      padding: 15px 30px 15px 30px;
    }
    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 200px;
      padding: 20px;
      div {
        display: flex;
        gap: 10px;
        align-items: flex-end;
        p,
        h3 {
          margin: 0px;
          padding: 2.5px;
          cursor: pointer;
        }
        p {
          &::after {
            content: '';
            width: 0%;
            height: 1px;
            background-color: white;
            display: block;
            margin-top: 2px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.2s linear;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
        span {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
        h3 {
          color: grey;
          cursor: default;
          font-weight: 300;
          font-size: 1em;
        }
      }
    }
    .nav {
      padding: 220px 0 8vw;
      //margin-top: 100px;
      // margin-left: 200px;
      // margin-right: 200px;
      > div:first-child {
        margin-bottom: 20px;
      }
    }

    @media (width > 768px) {
      //padding: 200px 6vw 0;
      padding: 200px 6vw 0;
      .title {
        padding-bottom: 200px;
      }
      .button {
        p {
        }
      }
      .nav {
        display: flex;
        gap: 20px;
        padding: 250px 0 4vw;
        //margin-top: 100px;
        // margin-left: 200px;
        // margin-right: 200px;
        > div:first-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
