.main_container {
  position: relative;
  opacity: 0;
}

// Sub Layout //
.container {
  padding: 120px 35px 0;

  @media (width > 1000px) {
    padding: 150px 5vw 0;
  }
}

.subTit {
  margin-bottom: 6vw;
  line-height: 1.1;
  //font-size: calc(clamp(3.25em, 7vw, 8em) * 0.875);
  font-size: max(2rem, min(5.17152vw + 2.25667rem, 7.0625rem));

  @media (width > 1000px) {
    margin-bottom: 120px;
    //padding: 0 5vw;
  }
}

// ABOUT //
.about {
  display: block;

  .aboutTxt {
    margin-bottom: 5vw;
    line-height: 1.1;
    font-size: max(1rem, min(2.17152vw + 1.25667rem, 5.0625rem));
    font-weight: 300;
  }
  .overWrap {
    position: relative;
    overflow: hidden;
    flex: 1;

    &::before {
      display: block;
      content: '';
      padding-top: 100%;
    }
  }

  .over {
    flex: 1;
    //background: url(https://dennissnellenberg.com/assets/img/DSC07312-2.jpg) center center no-repeat;
    background: url(../public/images/about2.jpg) center center no-repeat;
    background-size: cover;
    top: -20vh;
    position: absolute;
    left: 0;
    width: 100%;
    height: 130vw;
    right: 140px;
  }

  @media (width > 1000px) {
    display: flex;

    .aboutTxt {
      width: 40%;
      padding-right: 50px;
      font-size: max(1rem, min(2.17152vw + 0.25667rem, 5.0625rem));
    }

    .over {
      flex: 1;
      //background: url(https://dennissnellenberg.com/assets/img/DSC07312-2.jpg) center center no-repeat;
      background: url(../public/images/about2.jpg) center center no-repeat;
      background-size: cover;
      top: -20vh;
      position: absolute;
      left: 0;
      width: 100%;
      height: 85vw;
      right: 140px;
    }
  }
}

// PORTFOLIO //
.portfolio_list {
  //display: flex;
  @media (width > 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;

    .port {
      flex: 1 1 calc(50% - 3vw);
    }

    .port_link {
      display: block;
    }

    .port_tit {
    }

    .port_image {
      img {
        width: 100%;
      }
    }
  }
}

.loader {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.loader.hidden {
  display: none;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.circle:not(:last-child) {
  margin-right: 1rem;
}

.circle:nth-child(1) {
  animation: hop 1s ease-in-out infinite;
}

.circle:nth-child(2) {
  animation: hop 1s ease-in-out infinite 0.1s;
}

.circle:nth-child(3) {
  animation: hop 1s ease-in-out infinite 0.2s;
}

@keyframes hop {
  0% {
    transform: scale(1) translateY(0);
  }
  25% {
    transform: scale(1.1) translateY(10px);
  }
  50% {
    transform: scale(1.2) translateY(20px);
  }
  75% {
    transform: scale(1.1) translateY(10px);
  }
  100% {
    transform: scale(1) translateY(0px);
  }
}
